<div id="obj">
<div id="i_obj">
        <h4>Objectives</h4>
        <h6>I am seeking a responsible position in an organization which gives me a chance to improve my</h6>
</div>
</div>

<div id="card_containter">
    <div class="card" id="card1">
            <h5>Frontend</h5><br>
            <ul>
                <li>Angular</li>
                <li>html</li>
                <li>css</li>
                <li>Javascript</li>
                <li>Node.js</li>


            </ul>
    </div>
    <div class="card" id="card2">
             <h5>Backend</h5><br>
              <ul>
                <li>Express.js</li>
                <li>SQL/Oracle</li>
                <li>MongoDB</li>
                

            </ul>
    </div>
    <div class="card" id="card3">
             <h5>Others</h5><br>
              <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Automation</li>
                <li>Unit testing</li>
                <li>Machine learinig</li>

            </ul>
    </div>
</div>