#parent{
   
   width: 90%;    
    
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.child{
    height: 42vh;
    width: 250px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 4%;
    display: flex;
    padding-top: 14px;;
    padding-right: 1%;
    padding-left: 1%;
    align-items: center;
    background-color: rgb(206, 225, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size:large;
    font-style: italic;
    font-kerning: inherit;
    display: flex;
    flex-direction: column;
}
.child:hover{
    border-radius: 40px;
    background-color: rgb(131, 175, 232);
    font-size:large;
    
}