<div id="parent">
    <div class="child" id="child1">
     <h5>Univercity Eventhub</h5>
      <hr>
    </div>

    <div class="child" id="child2">
    <h5>Knowledge sharing portal</h5>
     <hr>
    </div>

    <div class="child" id="child3">
    <h5>MEAN Stack</h5>
     <hr>
    </div>

    <div class="child" id="child4">
    <h5>User define KNN Algorithm</h5>
     <hr>
    <p>Created own Regression ML Algorithm using POP approach</p>
    </div>

    <div class="child" id="child5">
    <h5>User define Linear Regression Algorithm</h5>
    <hr>
    <p>Created own classified ML Algorithm using OOP approach,
        used mathematical equations to train and test the data</p>
    </div>

    <div class="child" id="child6">
    <h5>Duplicate file removal</h5>
     <hr>
    <p>Application is used to remove duplicate files present in given directory</p>
    </div>
    

</div>