<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div id="box">
    <div id="box1">
        <div id="photo"></div>
        </div>
    <div id="box2">
        <div id="info">
          <div id="info2">
            <h3>Hello, it's Me</h3>
            <hr><h1>Rohan Shinde</h1>
            <h3>And i'm Web Developer</h3>
            <h4> Looking for opprtunities .</h4>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
            
        <div>
    </div>
</div>















